*.ttc
*~
._*
.DS_Store
.sass-cache
tags

*.mo

www/js/config.js
Android/bin/
platforms
plugins
hooks
iPhone/FixMyStreet.xcodeproj/project.xcworkspace/xcuserdata
iPhone/FixMyStreet.xcodeproj/xcuserdata
iPhone/CordovaLib/CordovaLib.xcodeproj/project.xcworkspace/xcuserdata
iPhone/CordovaLib/CordovaLib.xcodeproj/xcuserdata
Android/gen/
compiled
locale/lang_list
