<?xml version='1.0' encoding='utf-8'?>
<widget id="cr.go.curridabat.YoAlcalde" android-versionCode="41" version="2.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Yo Alcalde</name>
    <description>
        Reportar problemas en la cuidad de Curridabat, Costa Rica
    </description>

    <author href="http://www.curridabat.go.cr" email="yoalcalde@curridabat.go.cr">
        Municipalidad de Curridabat
    </author>
    <content src="index.html" />

    <access origin="*" />
    <access origin="192.169.1.203"/>
    <access origin="http://192.169.1.203"/>
    <access origin="http://186.15.83.26"/>
    <access origin="186.15.83.26"/>
    <access origin="http://avisame.curridabat.go.cr"/>
    <access origin="avisame.curridabat.go.cr"/>
    <access origin="*.curridabat.go.cr"/>
    <access origin="tilma.mysociety.org"/>
    <access origin="openstreetmaps.org"/>
    <access origin="*.openstreetmaps.org"/>
    <access origin="a.tilma.mysociety.org"/>
    <access origin="b.tilma.mysociety.org"/>
    <access origin="c.tilma.mysociety.org"/>
    <access origin="dev.virtualearth.net"/>
    <access origin="ecn.t0.tiles.virtualearth.net"/>
    <access origin="ecn.t1.tiles.virtualearth.net"/>
    <access origin="ecn.t2.tiles.virtualearth.net"/>
    <access origin="ecn.t3.tiles.virtualearth.net"/>
    <access origin="mapit.mysociety.org"/>
    <access origin="www.fixmystreet.com"/>

    <preference name="android-minSdkVersion" value="16" />
    <preference name="orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />

    <platform name="android">
  		<splash src="res/android/drawable-mdpi/background.png" qualifier="mdpi" />
  		<splash src="res/android/drawable-hdpi/background.png" qualifier="hdpi" />
  		<splash src="res/android/drawable-xhdpi/background.png" qualifier="xhdpi" />
  		<splash src="res/android/drawable-xxhdpi/background.png" qualifier="xxhdpi" />
  		<splash src="res/android/drawable-xxxhdpi/background.png" qualifier="xxxhdpi" />
      <icon src="res/android/ldpi.png" density="ldpi" />
      <icon src="res/android/mdpi.png" density="mdpi" />
      <icon src="res/android/hdpi.png" density="hdpi" />
      <icon src="res/android/xhdpi.png" density="xhdpi" />

    </platform>
    <hook type="after_prepare" src="./scripts/addGitCommitHash.js" />

    <platform name="ios">
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <!--<icon src="res/ios/Icon-60.png" width="60" height="60" />-->
        <icon src="res/ios/Icon-60@2x.png" width="120" height="120" />
        <icon src="res/ios/Icon-60@3x.png" width="180" height="180" />
        <!-- iPad -->
        <icon src="res/ios/Icon-76.png" width="76" height="76" />
        <icon src="res/ios/Icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/Icon-40.png" width="40" height="40" />
        <icon src="res/ios/Icon-40@2x.png" width="80" height="80" />
        <icon src="res/ios/Icon-40@3x.png" width="120" height="120" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/Icon.png" width="57" height="57" />
        <icon src="res/ios/Icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/Icon-72.png" width="72" height="72" />
        <icon src="res/ios/Icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/Icon-Small.png" width="29" height="29" />
        <icon src="res/ios/Icon-Small@2x.png" width="58" height="58" />
        <icon src="res/ios/Icon-Small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/Icon-Small-50.png" width="50" height="50" />
        <icon src="res/ios/Icon-Small-50@2x.png" width="100" height="100" />


        <!-- Splash Screens -->
        <!--<splash src="res/ios/Default.png" width="320" height="480"/>-->
        <splash src="res/ios/Default@2x.png" width="640" height="960"/>
        <splash src="res/ios/Default-568h@2x.png" width="640" height="1136"/>
        <splash src="res/ios/Default-667h@2x.png" width="750" height="1334"/>
        <splash src="res/ios/Default-Portrait.png" width="768" height="1024"/>
        <splash src="res/ios/Default-Portrait@2x.png" width="1536" height="2048"/>
        <splash src="res/ios/Default-Portrait-736h@3x.png" width="1242" height="2208"/>


     </platform>

</widget>
