<?xml version='1.0' encoding='utf-8'?>
<widget id="org.mysociety.FixMyStreet" android-versionCode="40" version="2.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FixMyStreet</name>
    <description>
        Report problems on FixMyStreet
    </description>

    <author href="http://mysociety.org" email="team@mysociety.org">
        mySociety
    </author>
    <content src="index.html" />

    <access origin=".*.tile.openstreetmap.org"/>
    <access origin="tilma.mysociety.org"/>
    <access origin="a.tilma.mysociety.org"/>
    <access origin="b.tilma.mysociety.org"/>
    <access origin="c.tilma.mysociety.org"/>
    <access origin="dev.virtualearth.net"/>
    <access origin="ecn.t0.tiles.virtualearth.net"/>
    <access origin="ecn.t1.tiles.virtualearth.net"/>
    <access origin="ecn.t2.tiles.virtualearth.net"/>
    <access origin="ecn.t3.tiles.virtualearth.net"/>
    <access origin="mapit.mysociety.org"/>
    <access origin="www.fixmystreet.com"/>

    <preference name="android-minSdkVersion" value="16" />
    <preference name="orientation" value="portrait" />

    <platform name="android">
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
    </platform>
</widget>
