<div id="report-created-header" data-role="header">
    <h1>Pothole Quote</h1>
</div>
<div data-role="content">

    <!-- This element is replaced with one loaded from the server -->
    <table id="quote_rendered"></table>

    <div class="bottom-btn" id="quote_controls">
        <p>Do you wish to proceed with this quote, or have it emailed?</p>
        <input type="button" id="reject_quote" data-theme="a" value="Email quote" data-accept="0">
        <input type="button" id="accept_quote" data-theme="b" value="Proceed with quote" data-accept="1">
    </div>
</div>
