<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="48" id="se.sambruk.fixamingata" version="2.0.19" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FixaMinGata</name>
    <description>
        Rapportera problem på FixaMinGata
    </description>
    <author email="info@fixamingata.se" href="http://www.sambruk.se">
        Sambruk
    </author>
    <content src="index.html" />
    <allow-intent href="mailto:*" />
    <access origin="http://127.0.0.1*" />
    <access origin="fixamingata.se" />
    <access origin="beta.fixamingata.se" />
    <access origin="a.tile.openstreetmap.org" />
    <access origin="b.tile.openstreetmap.org" />
    <access origin="c.tile.openstreetmap.org" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="StatusBarBackgroundColor" value="#8dbfdc" />
    <preference name="deployment-target" value="9.0" />
    <platform name="android">
        <icon density="ldpi" src="res/fixamingata/android/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="res/fixamingata/android/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="res/fixamingata/android/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="res/fixamingata/android/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/fixamingata/android/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/fixamingata/android/drawable-xxxhdpi/icon.png" />
        <splash density="ldpi" src="res/fixamingata/android/drawable-ldpi/screen.9.png" />
        <splash density="mdpi" src="res/fixamingata/android/drawable-mdpi/screen.9.png" />
        <splash density="hdpi" src="res/fixamingata/android/drawable-hdpi/screen.9.png" />
        <splash density="xhdpi" src="res/fixamingata/android/drawable-xhdpi/screen.9.png" />
        <splash density="xxhdpi" src="res/fixamingata/android/drawable-xxhdpi/screen.9.png" />
        <splash density="xxxhdpi" src="res/fixamingata/android/drawable-xxxhdpi/screen.9.png" />
    </platform>
    <platform name="ios">
        <icon height="180" src="res/fixamingata/ios/icons/Icon-60@3x.png" width="180" />
        <icon height="60" src="res/fixamingata/ios/icons/Icon-60.png" width="60" />
        <icon height="120" src="res/fixamingata/ios/icons/Icon-60@2x.png" width="120" />
        <icon height="76" src="res/fixamingata/ios/icons/Icon-76.png" width="76" />
        <icon height="152" src="res/fixamingata/ios/icons/Icon-76@2x.png" width="152" />
        <icon height="40" src="res/fixamingata/ios/icons/Icon-40.png" width="40" />
        <icon height="80" src="res/fixamingata/ios/icons/Icon-40@2x.png" width="80" />
        <icon height="57" src="res/fixamingata/ios/icons/Icon.png" width="57" />
        <icon height="114" src="res/fixamingata/ios/icons/Icon@2x.png" width="114" />
        <icon height="72" src="res/fixamingata/ios/icons/Icon-72.png" width="72" />
        <icon height="144" src="res/fixamingata/ios/icons/Icon-72@2x.png" width="144" />
        <icon height="29" src="res/fixamingata/ios/icons/Icon-Small.png" width="29" />
        <icon height="58" src="res/fixamingata/ios/icons/Icon-Small@2x.png" width="58" />
        <icon height="87" src="res/fixamingata/ios/icons/Icon-Small@3x.png" width="87" />
        <icon height="50" src="res/fixamingata/ios/icons/Icon-50.png" width="50" />
        <icon height="100" src="res/fixamingata/ios/icons/Icon-50@2x.png" width="100" />
        <icon height="167" src="res/fixamingata/ios/icons/Icon-83.5@2x.png" width="167" />
        <icon height="1024" src="res/fixamingata/ios/icons/iTunesArtwork@2x.png" width="1024" />
        <splash height="480" src="res/fixamingata/ios/splash/Default~iphone.png" width="320" />
        <splash height="960" src="res/fixamingata/ios/splash/Default@2x~iphone_640x960.png" width="640" />
        <splash height="1024" src="res/fixamingata/ios/splash/Default-Portrait~ipad_768x1024.png" width="768" />
        <splash height="2048" src="res/fixamingata/ios/splash/Default-Portrait@2x~ipad_1536x2048.png" width="1536" />
        <splash height="2008" src="res/fixamingata/ios/splash/Default-Portrait@2x~ipad_1536x2008.png" width="1536" />
        <splash height="1136" src="res/fixamingata/ios/splash/Default-568h@2x~iphone_640x1136.png" width="640" />
        <splash height="1334" src="res/fixamingata/ios/splash/Default-750@2x~iphone6-portrait_750x1334.png" width="750" />
        <splash height="2208" src="res/fixamingata/ios/splash/Default-1242@3x~iphone6s-portrait_1242x2208.png" width="1242" />
    </platform>
    <hook src="scripts/prepare_index_html.js" type="after_prepare" />
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysUsageDescription">
        <string>Detta låter oss visa en karta över området som du befinner dig i nu, så att du inte behöver söka upp platsen själv.</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>Detta låter oss visa en karta över området som du befinner dig i nu, så att du inte behöver söka upp platsen själv.</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>Ditt foto kommer att komplettera din beskrivning och visas offentligt i FixaMinGata.</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
        <string>Ditt foto kommer att komplettera din beskrivning och visas offentligt i FixaMinGata.</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
        <string>Ditt foto kommer att komplettera din beskrivning och visas offentligt i FixaMinGata.</string>
    </edit-config>
    <plugin name="cordova-plugin-camera" spec="^4.0.2">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-compat" spec="^1.2.0">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="^2.0.1">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-file" spec="^6.0.1">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-media" spec="^5.0.2">
        <variable name="KEEP_AVAUDIOSESSION_ALWAYS_ACTIVE" value="NO" />      
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-media-capture" spec="^3.0.1">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-network-information" spec="^2.0.1">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="ionic-plugin-keyboard" spec="^2.2.1">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <plugin name="cordova-plugin-ios-app-language" spec="./cordova-plugin-ios-app-language">
        <variable name="IOS_LOCALIZATION" value="Swedish" />
    </plugin>
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.5" />
</widget>
