<div data-role="header">
        <h1>Unsent Report</h1>
</div>
<div data-role="content" role="main">
    <div id="existing_report">
    <% if ( title ) { %>
        <h3><%= title %></h3>
    <% } %>

        <div class="meta">
        <p>
        <% if ( category && category != '-- Pick a category --' ) { %>
            Saved in the <%= category %> category
        <% } %>
        </p>

        <p><% print( moment( created ).fromNow() ) %></p>
        </div>

        <% if ( files.length > 0 ) { %>
            <div class="photo" style="background-image: url(<%= files[0] %>)"></div>
        <% } %>

        <% if ( details ) { %>
        <div class="details"><div><%= details %></div></div>
        <% } %>
    </div>


    <div class="right">
    <input id="use_report" type="button" value="Complete report now" data-role="button" data-theme="a" />
    <input id="save_report" type="button" value="Save for later" data-role="button" data-theme="a" />
    <input id="discard" type="button" value="Discard" data-role="button" data-theme="a" />
    </div>
</div>
