<div id="submit-header" data-role="header">
    <a data-rel="back" data-icon="arrow-l" class="ui-btn-left">Back</a>
    <h1>Your details</h1>
</div>

<div data-role="content">
    <div id="errors"></div>
    <form id="passwordForm" name="passwordForm">
    <div id="password_row">
        <p class="notopmargin">
        Enter a password for your account. This won't be activated till you click the link in the confirmation email
        </p>
        <div class="inputcard">
            <div>
                <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Your password" required>
            </div>
        </div>
        <div class="noborder">
            <input data-role="button" data-theme="a" type="submit" id="continue" name="report" value="Continue">
        </div>
    </div>
    </form>
</div>
