<h1><% print( CONFIG.APP_NAME ) %></h1>
<p>
CuidoMiCiudad es una plataforma colaborativa donde los ciudadanos cumplen un rol
central en el cuidado de la ciudad. Es el canal más efectivo para poner un
reporte en nuestra circunscripción para hacerlo llegar a las manos
correspondientes de su solución. Es un espacio para los vecinos y vecina
discutir y proponer soluciones a los problemas locales que nos afectan.
</p>


<h2>¿Qué tipo de problemas puedo reportar?</h2>
<ul>
    <li>Construcciones <small>Ilegales</small></li>
    <li>Basura</li>
    <li>Ocupación <small>Espacios Públicos</small></li>
    <li>Letreros y Vallas <small>Ilegales</small></li>
    <li>Poda <small>de Áreas Verdes</small></li>
</ul>