/* line 9, style.scss */
.ios .ui-bar-a,
body.ios, .ui-bar-a {
  background: white;
}

/* line 14, style.scss */
.ios .ui-bar-a, .ui-bar-a {
  border-color: white;
  color: #222;
}

/* line 19, style.scss */
#load-screen,
#locating {
  background: white;
  color: #222;
}

/* line 25, style.scss */
#locating #progress-bar {
  background-color: #FFFF99;
}

/* line 29, style.scss */
#view-my-reports .draft_count {
  background-color: #ba151c;
  color: #fff;
  border-color: #ffea3d;
}

/* line 35, style.scss */
#display-help, #help {
  display: none;
}

/* line 40, style.scss */
.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
  color: #222;
  border-color: #c05d09;
  background: #f69038;
}

/* line 46, style.scss */
.ui-corner-all,
.ui-btn-corner-all {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 54, style.scss */
#around-page .ui-header .ui-title, #login .ui-header .ui-title {
  text-indent: -99999px;
  margin: 0;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background-image: url("../images/gc-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

/* line 66, style.scss */
#login .ui-header.loggedout {
  visibility: hidden;
  display: none;
}

/* line 72, style.scss */
#login .ui-content img {
  max-width: 100%;
}

/* line 76, style.scss */
#load-screen .radar,
#locating .radar {
  background-image: url("../images/gc-logo-big.jpg");
  background-size: contain;
}

/* line 82, style.scss */
#dismiss {
  color: white;
  text-shadow: 0px 1px 0px silver;
}

/* line 88, style.scss */
#locating p {
  text-shadow: none;
}

/* line 92, style.scss */
#details-extra-page div[data-role="content"] {
  padding: 1em 0;
}
/* line 95, style.scss */
#details-extra-page div[data-role="content"] label {
  font-weight: bold;
}
/* line 99, style.scss */
#details-extra-page div[data-role="content"] h2 {
  margin: 0;
}

/* line 104, style.scss */
.gmailstyletest input,
.gmailstyletest input[type="password"],
.gmailstyletest input[type="search"],
.gmailstyletest input[type="email"],
.gmailstyletest textarea,
.gmailstyletest select,
.gmailstyletest input[type="range"] {
  font-size: 1.2em;
}

@media (max-width: 320px) {
  /* line 115, style.scss */
  .gmailstyletest input,
  .gmailstyletest input[type="password"],
  .gmailstyletest input[type="search"],
  .gmailstyletest input[type="email"],
  .gmailstyletest textarea,
  .gmailstyletest select,
  .gmailstyletest input[type="range"] {
    font-size: 1em;
  }
}
