/* line 9, style.scss */
.ios7 .ui-bar-a,
body.ios7 {
  background-color: white;
}

/* line 14, style.scss */
.ios7 .ui-bar-a {
  border-color: white;
}

/* line 18, style.scss */
#load-screen,
#locating {
  background: white;
  color: #222;
}

/* line 24, style.scss */
#locating #progress-bar {
  background-color: #FFFF99;
}

/* line 28, style.scss */
#view-my-reports .draft_count {
  background-color: #ba151c;
  color: #fff;
  border-color: #ffea3d;
}

/* line 34, style.scss */
#display-help, #help {
  display: none;
}

/* line 39, style.scss */
.ui-bar-a, .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
  color: #222;
  border-color: #c05d09;
  background: #f69038;
}

/* line 45, style.scss */
.ui-corner-all,
.ui-btn-corner-all {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 53, style.scss */
#around-page .ui-header .ui-title {
  text-indent: -99999px;
  margin: 0;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background-image: url("../images/gc-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

/* line 103, style.scss */
#load-screen .radar,
#locating .radar {
  background-image: url("../images/gc-logo-big.jpg");
  background-size: contain;
}

/* line 135, style.scss */
#dismiss {
  color: white;
  text-shadow: 0px 1px 0px silver;
}

/* line 141, style.scss */
#locating p {
  text-shadow: none;
}

/* line 145, style.scss */
#details-extra-page div[data-role="content"] {
  padding: 1em 0;
}
/* line 148, style.scss */
#details-extra-page div[data-role="content"] label {
  font-weight: bold;
}
/* line 152, style.scss */
#details-extra-page div[data-role="content"] h2 {
  margin: 0;
}
