@import "compass";

$gc_orange: rgb(245, 130, 32);
$gc_dark_green: rgb(80, 184, 72);
$gc_light_green: rgb(178, 210, 53);

$text-color: #222;

.ios .ui-bar-a,
body.ios, .ui-bar-a {
    background: white;
}

.ios .ui-bar-a, .ui-bar-a {
    border-color: white;
    color: $text-color;
}

#load-screen,
#locating {
    background: white;
    color: $text-color;
}

#locating #progress-bar {
    background-color: #FFFF99;
}

#view-my-reports .draft_count {
    background-color: rgb(186,21,28);
    color: #fff;
    border-color: #ffea3d;
}

#display-help, #help {
    display: none;
}


.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
    color: $text-color;
    border-color: darken($gc_orange, 15%);
    background: lighten($gc_orange, 5%);
}

.ui-corner-all,
.ui-btn-corner-all {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#around-page .ui-header, #login .ui-header {
    // We want the logo in the header instead of plain text
    .ui-title {
        text-indent: -99999px;
        margin: 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        background-image: url('../images/gc-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}

#login .ui-header.loggedout {
    visibility: hidden;
    display: none;
}


#login .ui-content img {
    max-width: 100%;
}

#load-screen .radar,
#locating .radar {
    background-image: url('../images/gc-logo-big.jpg');
    background-size: contain;
}

#dismiss {
    color: white;
    text-shadow: 0px 1px 0px silver;
}


#locating p {
    text-shadow: none;
}

#details-extra-page div[data-role="content"] {
    padding: 1em 0;

    label {
        font-weight: bold;
    }

    h2 {
        margin :0;
    }
}