<div data-role="header">
        <a data-rel="back" data-icon="arrow-l" class="ui-btn-left">[% loc('Back') %]</a>
        <h1>[% loc('Details') %]</h1>
        <a id="next" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">[% loc('Next') %]</a>
</div>
<div data-role="content">
    <div class="gmailstyletest">
        <div>
            <label for="form_title">[% loc('Subject') %]</label>
            <input data-role="none" type="text" name="title" id="form_title" placeholder="[% loc('Provide a title') %]" value="<%= title %>" required>
        </div>

        <div>
            <%= categories %>
        </div>

        <div class="noborder">
            <label for="form_detail">[% loc('Details') %]</label>
            <textarea data-role="none" name="detail" id="form_detail" placeholder="[% loc('Please fill in details of the problem.') %]" required><%= details %></textarea>
        </div>
    </div>
</div>
