<div data-role="header" data-position="fixed">
        <a id="offline-prev-btn" class="ui-btn-left">[% loc('Try Again') %]</a>
        <h1>[% loc('Offline') %]</h1>
        <a id="offline-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">[% loc('Skip') %]</a>
</div>
    <div id="locating" class="nodisplay">
        <div class="radar"></div>
        <div id="progress">
            <div id="progress-bar">
            </div>
        </div>

        <p>
        [% loc('Finding your location') %]
        </p>

        <p>
        <input data-theme="c" type="button" id="locate_cancel" value="[% loc('Cancel') %]">
        </p>
    </div>
<div data-role="content">
    <div>
        <p class="notopmargin">
        <% if ( typeof id != 'undefined' ) { %>
        [% loc("Oh dear - we can't detect an internet connection. However you can still edit the report now and send it later.") %]
        <% } else { %>
        [% loc("Oh dear - we can't detect an internet connection. However you can still start a report now and complete it later, by going to 'drafts' when you're back online.") %]
        <% } %>
        </p>

        <p id="locate_result">
        <% if ( lat ) { %>
        [% loc('This report has a position.') %]
        <% } else { %>
        <input type="button" data-role="button" data-theme="a" id="locate" value="[% loc('Locate (optional)') %]" >
        <% } %>
        </p>

        <div class="inputcard">
            <div>
                <input data-role="none" type="text" value="<%= title %>" name="title" id="form_title" placeholder="[% loc('Provide a title') %]" required>
            </div>

            <div>
                <textarea data-role="none" rows="7" cols="26" name="detail" id="form_detail" placeholder="Please fill in details of the problem." required><%= details %></textarea>
            </div>
        </div>

        <% if ( files.length > 0 ) { %>
        <div id="add_photo" style="display: none">
        <% } else { %>
        <div id="add_photo">
        <% } %>
            <label>[% loc('Add a Photo ') %]<em>[% loc('(optional)') %]</em></label>
            <input data-icon="fms-photo-new" value="[% loc('Take a new photo') %]" type="button" name="photo_button" id="id_photo_button" data-role="button" data-theme="a">
            <input data-icon="fms-photo-existing" value="[% loc('Add an existing photo') %]" type="button" name="existing" id="id_existing" data-role="button" data-theme="c">
        </div>

        <% if ( files.length == 0 ) { %>
        <div id="display_photo" style="display: none">
        <% } else { %>
        <div id="display_photo">
        <% } %>
            <label>[% loc('Your Photo') %]</label>
            <div class="photo">
            <img class="small" id="photo" src="<%= files[0] %>" />
            </div>
            <input value="[% loc('Remove Photo') %]" type="button" name="del_photo_button" class="del_photo_button" data-role="button" data-theme="a">
        </div>
    </div>
</div>
