<h1>Welcome to <% print( CONFIG.APP_NAME ) %></h1>

<p>Using this app you can report problems such as:</p>
<p>
    <ul>
        <li>dumping garbage on public areas (Male' Villimale' Hulhumale' and the 4 island stretch of Laamu Atolls).</li>
        <li>Broken public street lights (Laamu Atoll only).</li>
        <li>Erosion of the beaches (Laamu Atoll only).</li>
        <li>Damage to public property (Laamu Atoll only).</li>
        <li>Graffiti (for the 4 island stretch of Laamu atoll: Maandhoo, Kahdhoo, Gan and Fonadhoo).</li>
        <li>Improper parking along the main road (Laamu Atoll only).</li>
    </ul>
</p>

<p>
It works both online and offline.
</p>
