<h1>Welcome to <% print( CONFIG.APP_NAME ) %></h1>

<p>Using this app you can report problems such as:</p>
<p>
    <ul>
        <li>dumping garbage on public areas (All islands).</li>
        <li>Broken public street lights( For only in Laamu Atoll).</li>
        <li>Erosion of the beaches ( For only in Laamu Atoll).</li>
        <li>Damage to public property ( For only in Laamu Atoll).</li>
        <li>Graffiti ( For only in Laamu Atoll).</li>
        <li>Improper parking along the main road ( For only in Laamu Atoll).</li>
    </ul>
</p>

<p>
It works both online and offline.
</p>
