<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
        <meta charset="utf-8">

        <link rel="stylesheet" href="css/fms.css" type="text/css" media="screen" title="no title" charset="utf-8">

    </head>
    <body>
    <div id="load-screen">
        <div class="radar"></div>
        <p>Ha sido un problema comenzando el app. Por favour, salirlo y intentar comenzarlo de nuevo.</p>
    </div>
    </body>
</html>
