<div data-role="header">
        <h1>Detalles</h1>
        <a id="next" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Siguiente</a>
</div>
<div data-role="content">
    <div class="gmailstyletest">
        <div>
            <label for="form_title">Subject</label>
            <input data-role="none" type="text" name="title" id="form_title" placeholder="Titulo del reporte" value="<%= title %>" required>
        </div>

        <div>
            <%= categories %>
        </div>

        <div class="noborder">
            <label for="form_detail">Details</label>
            <textarea data-role="none" name="detail" id="form_detail" placeholder="Detalles del problema. Por favor sea lo más explicito posible." required><%= details %></textarea>
        </div>
    </div>
</div>
