<div data-role="header">
        <h1>Informe no enviado</h1>
</div>
<div data-role="content" role="main">
    <div id="existing_report">
    <% if ( title ) { %>
        <h3><%= title %></h3>
    <% } %>

        <div class="meta">
        <p>
        <% if ( category && category != '-- Seleccione una categoría --' ) { %>
            Guardado en la categoría <%= category %>
        <% } %>
        </p>

        <p><% print( moment( created ).fromNow() ) %></p>
        </div>

        <% if ( file ) { %>
            <div class="photo" style="background-image: url(<%= file %>)"></div>
        <% } %>

        <% if ( details ) { %>
        <div class="details"><div><%= details %></div></div>
        <% } %>
    </div>


    <div class="right">
    <input id="use_report" type="button" value="Completar el informe ahora" data-role="button" data-theme="a" />
    <input id="save_report" type="button" value="Guardar para más tarde" data-role="button" data-theme="a" />
    <input id="discard" type="button" value="Descartar" data-role="button" data-theme="a" />
    </div>
</div>
