<h1>Frequently Asked Questions</h1>
<dl>
    <dt>What is <% print( CONFIG.APP_NAME ) %>?</dt>
    <dd><% print( CONFIG.APP_NAME ) %> is a website and app to help people report local problems they&rsquo;ve found to their council.</dd>

    <dt>How do I use this app?</dt>
    <dd>The app will attempt to locate you automatically but if it can't or you want to report
    a problem elsewhere you can search by postcode or location. To start reporting a problem scroll
    the map till the crosshair is over the location of the problem and press 'New Report here'.
    </dd>

    <dt>What happens to the information I provide?</dt>
    <dd><strong>All the information you provide will be sent to the council</strong>.
        The title, category and details of your report will be displayed on the website. By default
        your name will also be displayed on the website but you can choose to have this hidden.
        We will <strong>never display your email or phone number on the site</strong>.</dd>

    <dt>What if I want to remain anonymous?</dt>
    <dd>If you unselect 'Show my name publicly' when entering your details then your name will not be displayed on the website.
    <strong>Your name, email and phone number, if you provided it, will always be sent to the council.</strong></dd>

    <dt>What if I've accidentally included personal information in a report</dt>
    <dd>To have a report edited email <a href="mailto:support@fixmystreet.com">support@fixmystreet.com</a> with 
        details of the report.</dd>

    <dt>I've forgotten my password, how do I reset it?</dt>
    <dd>If you've forgotten your password you can reset it by selecting the "set a password" option when
        next submitting a report. Please note that you have to click the link in the confirmation email to
        activate or change your password.</dd>

    <dt>What sort of problems should I report with <% print( CONFIG.APP_NAME ) %>?</dt>
    <dd><% print( CONFIG.APP_NAME ) %> is primarily for reporting things which are
    <strong>broken or dirty or damaged or dumped, and need fixing, cleaning
    or clearing</strong>.</dd>

    <dt>What isn&rsquo;t <% print( CONFIG.APP_NAME ) %> for?</dt>
    <dd><% print( CONFIG.APP_NAME ) %> is not a way of getting in touch with your council for all
    issues &ndash; please use <% print( CONFIG.APP_NAME ) %> only for problems such as the above.</dd>

    <dt>Is it free?</dt>
    <dd>The site and app are free to use, yes. <% print( CONFIG.APP_NAME ) %> is run
    by a registered charity, though, so if you want to make a contribution, <a
    onclick="FMS.openExternal(event); return false;" href="https://secure.mysociety.org/donate/">please do</a>.
    For more information see the <a onclick="FMS.openExternal(event); return false;" href="http://www.fixmystreet.com/faq/">website</a>.
    </dd>

    <dt>Who built <% print( CONFIG.APP_NAME ) %>?</dt>
    <dd>The site and this app was built by <a onclick="FMS.openExternal(event); return false;" href="http://www.mysociety.org/">mySociety</a>.</dd>
    <dt>Thanks to...</dt>
    <dd>
    <a onclick="FMS.openExternal(event); return false;" href="http://www.ordnancesurvey.co.uk">Ordnance Survey</a> (for the maps,
    UK postcodes, and UK addresses &ndash; data &copy; Crown copyright, all
    rights reserved, Ministry of Justice 100037819&nbsp;2008), the entire free software
    community (this particular project was brought to you by Phonegap, Backbone, jQuery mobile
    and the number 161.290) and <a
    onclick="FMS.openExternal(event); return false;" href="http://www.bytemark.co.uk/">Bytemark</a> (who kindly host all
    our servers).

    Let us know if we&rsquo;ve missed anyone.</dd>
</dl>
