<div data-role="header">
        <a data-rel="back" data-icon="arrow-l" class="ui-btn-left">Atrás</a>
        <h1>Add Photos</h1>
        <% if ( files.length == 0 ) { %>
            <% if ( !CONFIG.PHOTO_REQUIRED ) { %>
                <a id="photo-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Saltar</a>
            <% } %>
        <% } else { %>
        <a id="photo-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Siguiente</a>
        <% } %>
</div>

<div data-role="content">
    <% if ( files.length == 0 ) { %>
        <h2 id="nophoto_title">
            Añadir una foto
            <% if ( !CONFIG.PHOTO_REQUIRED ) { %>
                <em>(opcional)</em>
            <% } else if ( files.length == 0) { %>
                <em>(required)</em>
            <%} %>
        </h2>
    <% } else { %>
        <h2 id="photo_title">
            Photos for report
        </h2>
    <% } %>

    <div class="photo-wrapper">
        <% if ( files.length == 0 ) { %>
            <div class="photo">
                <img class="placeholder" src="images/placeholder-photo.png" alt="">
            </div>
        <% } else { %>
            <% _.each(files, function(file, index) { %>
                <div class="photo" style="background-image: url('<%= file %>');">
                    <a data-role="none" class="photo-corner-button del_photo_button" data-file-index="<%= index %>">X</a>
                </div>
            <% });%>
        <% } %>
    </div>

    <% if ( files.length < CONFIG.MAX_PHOTOS ) { %>
        <div class="bottom-btn">
            <input data-icon="fms-photo-existing" type="button" id="id_existing" data-theme="c" value="Añadir una foto existente" >
            <input data-icon="fms-photo-new" id="id_photo_button" type="button" data-theme="a" value="Tomar una nueva foto">
        </div>
    <% } %>
</div>
