<div data-role="header">
        <h1>Enviar reporte</h1>
</div>
<div data-role="content">
        <% var photoClass = 'nodisplay', nophotoClass = 'nodisplay';
        if ( file != '' ) {
            photoClass = '';
        } else {
            nophotoClass = '';
        } %>
    <h2 id="photo_title" class="<% print( photoClass ); %>">
        Photo for report
    </h2>
    <div class="photo-wrapper">
    <div class="photo">
    <% if ( file == '' ) { %>
        <img class="placeholder" src="images/placeholder-photo.png" alt="" id="photo">
    <% } else { %>
        <img class="small" id="photo" src="<%= file %>" />
    <% } %>
	<div class="photo-btn">
		<input data-icon="fms-photo-existing" type="button" id="id_existing" data-theme="c" value="Seleccionar foto" >
		<input data-icon="fms-photo-new" id="id_photo_button" type="button" data-theme="a" value="Tomar una nueva foto">
    </div>
	<a data-role="none" id="id_del_photo_button" class="photo-corner-button">X</a>
    </div>
    </div>
    <div class="bottom-btn">
        
    </div>
</div>
