<div data-role="header" data-position="fixed">
        <a id="reports-next-btn" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Home</a>
        <h1>Draft Reports</h1>
</div>
<div id="drafts">
    <p id="noreports" class="nodisplay">If you start compiling a report, but don't finish and send it, it'll appear in this menu so you can finish it later</p>
    <div id="report-list" class="nodisplay">
        <p class="notopmargin">
        These are your draft, unsent reports. To finish and send them, open a report when online.
        </p>
        <ul data-role="listview" data-split-theme="c" data-inset="true" data-split-icon="delete" class="notopmargin reports">
            <% drafts.each(function(draft) {
                if ( draft ) {
                    var classes = [];
                    if ( draft.get('lat') ) {
                        classes.push('with_location');
                    }
                    if ( draft.get('file') ) {
                        classes.push('with_photo');
                    }
                    var draftClass = '';
                    if ( classes.length ) {
                        draftClass = 'class="' + classes.join(' ') + '"';
                    }
                    print( '<li id="' + draft.id + '"' + draftClass + '><a href="#" class="use_report">' + draft.description() + '</a><a class="del_report" href="#" title="delete">Delete</a></li>' );
                }
                } ); %>
        </ul>
    </div>
</div>
