<div id="submit-header" data-role="header">
    <a data-rel="back" data-icon="arrow-l" class="ui-btn-left">Atrás</a>
    <h1>Sus detalles</h1>
</div>

<div data-role="content">
    <div id="errors"></div>
    <form id="passwordForm" name="passwordForm">
    <div id="password_row">
        <p class="notopmargin">
        Introduzca la contraseña de su cuenta. Esta no será activada hasta que haga click sobre el enlace en el email de confirmación
        </p>
        <div class="inputcard">
            <div>
                <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Su contraseña" required>
            </div>
        </div>
        <div class="noborder">
            <input data-role="button" data-theme="a" type="submit" id="continue" name="report" value="Continuar">
        </div>
    </div>
    </form>
</div>
